.profile-container{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.profile-components{
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.profile-header{
  border: 0.5px solid #EBEBEB;
  background-color: white;
  width: 100%;
  min-height: 80px;
  padding-top: 15px;
  padding-left: 20px;
}

.profile-reservations-top{
  display: flex;
  justify-content: space-between;
}
