.reservation-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reservation-input{
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
}

.reservation-index{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.reservation-index-item{
  padding: 10px;
  border-top: 0.3px solid grey;
}

.reservation-customer-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.reservation-stats{
  display: flex;
  flex-direction: column;
}

.cancel-reservation{
  background-color: white;
  color: #7BA4B7;
  cursor: pointer;
}

.reservation-errors{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.reservation-errors li{
  color: red;
}

.reservation-index-item-link {
  margin-top: 10px;
  font-size: 20px;
  color: #237B98;
  font-style: normal;
}

.reservation-index-item-link:hover{
  cursor: pointer;
  text-decoration: underline;
}
