.rest-index-img{
  width: 150px;
  height: 150px;
}

.rest-index-item{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 0.5px grey;
  margin: 10px;
  padding: 5px;
  width: 750px;
  height: 150px;
}

.rest-index-info{
  width: 580px;
  height: 150px;
}

.rest-index{
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  cursor: default;
  margin-left: 300px;
  margin-right: 335px;
}

.rest-index h1{
  border-bottom: solid 0.5px grey;
}

.rest-index-item-link {
  font-size: 20px;
  color: #237B98;
  font-style: normal;
}

.rest-index-item-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.rest-index-item-cusine{
  color: #666666;
}

.rest-index-item-price-range{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.rest-index-item-price-range li{
  list-style: none;
}

.rest-index-item-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .875rem;
}

.rest-index-item-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rest-show{
  background-color: #F7F7F7;
}

.rest-show-header img{
  margin-top: 70px;
  margin-left: 40px;
  width: 130px;
  height: 130px;
}

.rest-show-header{
  display: flex;
  flex-direction: row;
  max-height: 200px;
  background-color: #ABD1EF;
}

.rest-show-header img{
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: 1;
}

.rest-name{
  font-size: 35px;
  color: black;
}

.rest-show-header-right{
  margin-top: 80px;
  margin-left: 50px;
  margin-left: 200px;
}

.rest-show-header-right-sub{
  display: flex;
  justify-content: space-around;
}

.rest-show-header-right-left{
  display: flex;
  flex-direction: row;
}

.rest-show-header-right-sub span{
  padding: 5px;
  color: black;
}

.heart-button{
  color: black;
  padding: 1px;
  border: solid 1px black;
  margin-left: 300px;
  margin-bottom: 10px;
  width: 150px;
  max-height: 30px;
  padding: 5px;
  cursor: pointer;
}

.rest-show-body{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 63%;
}

.rest-show-about h1{
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
}

.rest-show-background{
  background-color: white;
  border-radius: 5px;
}

.rest-show-map{
  border: 1px solid black;
  width: auto;
  height: 200px;
}

.rest-show-about-el{
  padding: 20px;
}

.rest-form{
  margin-left: 20%;
  margin-right: 20%;
  padding: 30px;
  width: 800px;
  height: 655px;
  background-color: #FFFFFF;
}

.rest-form h1{
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.rest-form-row{
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.rest-form-capacity{
  display: flex;
  justify-content: center;
}

.rest-form-body-container{
  display: flex;
  justify-content: center;
}

.rest-form-body{
  margin: 30px;
  font-size: 13px;
  width: 600px;
  height: 50px;
}

.rest-form-submit{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.rest-form-background{
  background-image: url("https://www.craftsy.com/blog/wp-content/uploads/2014/01/pots-and-pans.jpg");
}

.website{
  color: #4690A8;
}

.search-bar-form{
  width: 60%;
  height: 150px;
  background-color: white;
  padding: 20px;
  position: absolute;
  left: 16%;
  top: 370px;
  z-index: 1;
}

.search-bar{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

.search-input{
  padding: 0;
  margin: 0;
  width: 310px;
  height: 50px;
}

.submit-button{
  margin: 0;
  padding: 0;
  background-color: #DA3743;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 310px;
  height: 53px;
}

.rest-index{
  min-width: 750px;
}
