blockquote dd div dl dt form h1 h2 h3 h4 h5 h6 li ol p pre td th ul{
  font-family: source-sans-pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

.session-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 665px;
}

.session-form-border{
  background-color: white;
}

.session-form{
  margin: 10px;
  display: block;
  cursor: auto;
}

.signup-form h3{
  font-size: 1.5rem;
  line-height: 1.165;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #333;
  margin: 0 0 .2rem;
}

.login-form h3{
  font-size: 1.5rem;
  line-height: 1.165;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #333;
  margin: 0 0 .2rem;
}

.signup-input{
  width: 310px;
  height: 30px;
  margin: 5px;
  margin-bottom: 10px;
}

.button{
  background-color: #DA3743;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 310px;
  height: 50px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.demo-login{
  background-color: #3F5FA4;
}

.isOwner{
  margin-left: 3px;
}

.isOwner input{
  margin-right: 5px;
}

.session-errors{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.session-errors li{
  padding: 5px;
  color: red;
}
