<!DOCTYPE html>
<html>
  <head>
    <title>OpenRice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-alpha.6/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://res.cloudinary.com/jerryzlau/image/upload/v1506747371/805211_food_512x512_ulfbg1.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108363979-1"></script>
    <meta name="keywords" content="App Academy Full Stack, github, Redux, React.js, Ruby on Rails, Postgresql, heroku, activerecord, Jerry Lau, OpenRice">
    <meta name="description" content="Project built by Jerry Lau. To learn full stack development through cloning OpenTable application called OpenRice.">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108363979-1');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
